{% load static %}
    {% for story in stories %}
        <story>
            <div class="story__field"></div>
            <div class="story__inner">
                <video class = "" src="{{story.video.url}}"></video>
                <div class="story__item">
                    <div class="post__border story__pad">
                        <div class="story__bottom">#{{story.tag}}</div>
                        <a class="story__top" >{{story.name}}</a>
                    </div>
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                            <div class="post__nav">
                                <img src="{% static 'images/menu.png' %}" alt=""  class="post__icons">
                                <div class = "post__buttons post__buttons__dop">
                                    <a href="{% url 'base:update-story' story.id %}" class ="btn btn-nav">Изменить</a>
                                    <a href="{% url 'base:delete-story' story.id %}" class = "btn btn-red btn-nav">Удалить</a>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                </div>
            </div>
        </story>
    {% endfor %}

<style>
    .post__nav {
        position: absolute;
        top:2%;
        right: 2%;
    }
    .post__icons:hover ~ .post__buttons__dop {
        opacity: 1;
    }
    .post__buttons__dop:hover {
        opacity: 1;
    }
    .post__buttons__dop {
        width: 140px !important;
        height: auto !important;
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        align-items: flex-start !important;
        position: absolute;
        background-color: #303030;
        z-index: 10;
        right: 0;
        opacity: 0;
    }
    button {
        background-color: transparent;
        color: aliceblue;
        text-align: left;
        border: none;
        cursor: pointer;
    }
    .post__icons {
        width: 40px;
        object-fit: cover;
    }
    .btn-nav {
        width: 100% !important;
        box-shadow: none !important;
        border: none !important;
        margin: none !important;
        border-radius: 0 !important;
        padding: 2%;
    }
    .btn-nav:hover {
        background-color: rgb(254,254,254,.3);
    }

    .story__pad {
        height: 140px !important;
        padding: 4% !important;
    }
    story {
        width: 280px;
        height: 400px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 .6rem 0 0;
    }
    story video {
        width: 280px;
        height: 400px;
        object-fit: cover;
        filter: brightness(70%)
    }
    .story__item {
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        padding: 5%;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
    }
    .story__top {
        font-size: 1.4rem;
        font-weight: bold;
    }
    .story__bottom {
        font-size: 1rem;
    }
    .full {
        width: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 10;
    } 
    .story__video {
        height: 100vh;
        position: fixed;
        top:0;
        bottom: 0;
        width: auto;
    }
    .story__back {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* position: relative; */
        background-color: rgb(0,0,0,.9);
        position: fixed;
        top:0;
        bottom: 0;
    }
    .story__inner {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        position: absolute;
        z-index: 100;
    }
    .story__sistem {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        justify-content: space-between;
        height: 100vh;
        min-height: 70vh;
        margin-top: 14rem;
        width: 120%;
    }
</style>
<script>
    const story__tops = document.querySelectorAll('.story__top');
    const videos = document.querySelectorAll('video');
    const stories = document.querySelectorAll('story');
    const body = document.querySelector('body');
    const story__pads = document.querySelectorAll('.story__pad');
    const story__fields = document.querySelectorAll('.story__field');
    const story__items = document.querySelectorAll('.story__item')

    for (let i=0; i<stories.length; i++ ) {
        let story__top = story__tops[i];
        let video = videos[i];
        let story = stories[i];
        let story__pad = story__pads[i];
        let story__field = story__fields[i];
        let story__item = story__items[i];

        story__top.addEventListener('click', () => {
            //clases
            story.classList.add('full');
            video.classList.add('big-shadow');
            video.classList.add('story__video');
            story__field.classList.add('story__back');
            story__pad.classList.add('story__sistem');
            story__pad.classList.remove('post__border');

            //stiles
            body.style.overflowY = 'hidden';
            story__item.style.justifyContent = 'center';

            if (video.controls != true) {
                video.controls = true ;
            }
        });

        story__field.addEventListener('click', () => {
            //classes
            story.classList.remove('full');
            video.classList.remove('big-shadow');
            video.classList.remove('story__video');
            story__field.classList.remove('story__back');
            story__pad.classList.remove('story__sistem');
            story__pad.classList.add('post__border');

            //stiles
            body.style.overflowY = 'auto';
            story__item.style.justifyContent = 'space-between';

            if (video.controls == true) {
                video.controls = false ;
            }
        });
    }
</script>