* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    transition: all .3s linear
}
.messages {
    background-color: #282828;
    position: fixed;
    top:10%;
    padding: 1% 3%;
    z-index:10000;
}
body {
    background-color: #202020;
    color: lightgray;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}
a {
    color: lightgray;
}
.btn {
    border-radius: 10px;
    text-transform: uppercase;
    box-shadow: -3px 3px 1px rgb(254,254,254,.8);
    transition: all .4s linear;
    background-color: transparent;
    padding: .4rem 1.4rem;
    border: 2px solid #fff;
    cursor: pointer;
}
.btn-cont {
    max-width: 120px;
    text-align: center
}
.btn:hover {
    box-shadow: 3px -3px 1px rgb(254,254,254,.8);
    color: #00fb00;
    border-color: #00fb00;  
}
::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #00fb00;
    border-radius: 1rem;
}
input {
    width: 300px;
    background-color: transparent;
    height: 100%;
    padding: 1.2%;
    margin: 1% 0;
    border:none;
    border-bottom: 2px solid aliceblue;
    color: aliceblue;
    font-size: 1.2rem;
}
input:focus {
    border-bottom: 2px solid #00FB00;
}
input:hover {
    border-bottom: 2px solid #00FB00;
}
.btn-red {
    border: 2px solid red;
    color: red;
}
.btn-red:hover {
    border: 2px solid red;
    color: red;
}
textarea {
    width: 800px;
    height: 400px;
    max-width: 800px;
    min-width: 800px;
    min-height: 400px;
    color: aliceblue;
    background-color: transparent;
    font-size: 1.1rem;
    padding: 2%;
}
.posts {
    padding: 0 5%;
    display: flex;
    flex-wrap: wrap;
    margin: 6% 0;
    align-items: center;
}
.post, .post__button {
    max-width: 360px;
    max-height: 360px;
    min-width: 360px;
    min-height: 360px;
    width: 360px;
    height: 360px;
    margin: 1%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(254,254,254,.2);
}
.post__button {
    border: 1px solid rgb(254,254,254,.2);
}
.post__buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding: 0 5%;
    height: 160px;
}
.post img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter:brightness(70%);
}
.post__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    flex-direction: column;
    z-index: 1;
    width: 100%;
    padding: 2%;
}
.post__border {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid aliceblue;
    border-radius: 1rem;
    width: 100%;
    padding: 3%;
    height: 180px;
}
.post__border__dop {
    align-items: flex-end;
}
.post__border a h2 {
    font-size: 1.6rem;
    text-align: right;
}
.post__border a {
    width: 100%;
}
.header__create-post {
    font-size: 3.6rem;
    margin: 0;
    margin-left: 1rem;
    padding: 0 1rem;
}
.header__create-post:hover {
    background-color: #fff;
    color: black;
    border-radius: 50%;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    align-items: center;
    position: fixed;
    top:0;
    z-index: 10000
}
.header__logo,
.header__right {
    display: flex;
    justify-content: center;
    padding: 0 2% ;
    height: 100%;
    align-items: center;
    background-color: #080808;
}
.header__name {
    font-size: 2.4rem;
    color: transparent;    
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to bottom, #00FB00, #AA45FF);
    font-weight: bold;
}
.header__one, .header__two {
    display: block;
    content: '';
    width: 40px;
    height: 5px;
    background-color: #fff;
    margin: 8px 0;
    border-radius: 1rem;
}
.header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__menu div {
    margin: 0 5%;
    font-size: 1.6rem;
}
.header__add:hover  .header__navbar {
    animation-name: navbar__mar;
    animation-duration: .6s;
    opacity: 1;
}
.header__navbar {
    position: fixed;
    right: 0;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    background-color: black;
    min-width: 240px;
    box-shadow: 0 0 10px 4px black;
    opacity: 0;
}
@keyframes navbar__mar {
    0% {
        margin-top: -5%;
    }
    100% {
        margin-top: 0%;
    }
}
.header__create-post {
    font-size: 3rem;
    margin: 0;
    margin-left: 1rem;
    padding: 0 1rem;
}
.btn-max {
    width: 100%;
    text-align: center;
    padding: 3rem 0;
    box-shadow: none;
}
.search {
    margin: 0 5%;
}
.tags {
    display: flex;
    flex-direction: column;
    padding: 0 2%;
}
.topic {
    width: 100%;
    padding:  1%;
    font-size: 1.2rem;
}
.topic:hover {
    color:  #00FB00;
}
.tags hr {
    margin: 3% 0;
}
.content__post {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    padding: 0 5%;
    margin: 5% 0;
}
.posts {
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.article {
    width: 100%;
    padding: 0 15%;
}
.article__comment {
    width: 100%;
    margin: 5% 0%
}
input {
    width: 100%;
}
.article__img {
    width: 100%;
    z-index: -1;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 100vh;
    position: fixed;
    top: 0;
    filter: brightness(50%)
}
.article__item {
    background-color: #202020;
    border-radius: 5rem 5rem 0 0;
    margin: 10% 0;
    padding: 1% 5% 10%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.article__item h1 {
    margin: 3% 0;
}
.article__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 0;
}
.article__text {
    font-size: 1.2rem;
    margin: 5% 0% 2%;
}
.line {
    display: block;
    content: "";
    width: 100px;
    height: 2px;
    background-color: aliceblue;
}
.comment__form, .comment__input {
    width: 100%;
}
.login__form {
    display: flex;
    margin: 10% 0 5%;
    align-items: center;
    flex-direction: column;
    justify-content: center;  
}
.login__form input {
    background-color: transparent;
}
.story {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 3%;
    margin: 6% 0;
}
.stores__back {
    width: 280px;
    height: 416px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.stores__lin {
    display: block;
    content: "";
    width: 280px;
    position: absolute;
    z-index: -1;
    height: 400px;
    background: linear-gradient(to bottom, #00FB00, #AA45FF);
}
.stores__body {
    width: 260px;
    height: 380px;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 8%;
    z-index: 10;
}
/* story {
position: relative;
width: 280px;
height: 390px;
display: flex;
justify-content: flex-start;
align-items: center;
flex-direction: column;
cursor: pointer;
} */
.stores__title {
    font-size: 2.2rem;
    font-weight: bold;
    padding: 0 5%;
}
stories {
    display: flex;
    justify-content: start;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0 0 0 4%;
    position: relative;
    width:100%;
}
.delete-post {
    margin: 20% 0 ;
    padding: 0 10%;
}
.delete-post h2 {
    margin: 5% 0%;
}
.create-form {
    margin: 5% 0;
    padding: 0 10%;
}
select {
    background-color: transparent;
    padding: .4% 2%;
    font-size: 1.2rem;
    color: #fff;
}
option {
    background-color: #202020;
    color: #fff;
}
select, textarea, input {
    margin: 1% 0;
}
.create-form {
    margin: 5% 0;
    padding: 0 10%;
}
select {
    background-color: transparent;
    padding: .4% 2%;
    font-size: 1.2rem;
    color: #fff;
}
option {
    background-color: #202020;
    color: #fff;
}
select, textarea, input {
    margin: 1% 0;
}
