{% load static %}
<header>

    <a href="/" class = "header__logo">
        <h2 class = "header__name">JYLYJAI</h2>
        <span class = "header__desc">ITHUB</span>
    </a>

    <div class = "header__right">
        
        <form action="{% url 'base:posts' %}" method="GET" class = "search">
            <input type="search" class = "search__field" name='q' placeholder="Enter...">
            <button title="search" class=" btn-search"><img src="{% static 'images/search__white.png' %}" class="icon search__icon" alt=""></button>
        </form>

        {% comment %} <div class = "header__menu">
            <div class = "header__block">
                <span class = "header__one"></span>
                <span class = "header__two"></span>
            </div>
            <div class = 'header__none'>menu</div>
        </div> {% endcomment %}
        {% if request.user.is_authenticated %}
            {% if base.profileuser.img %}
                <img class="header__avatar" src="{{base.profileuser.img.url}}" alt="">
            {% else %}
                <img class="header__avatar" src="{% static 'images/user.png' %}" alt="avatar">
        {% endif %}
        <a href="{% url 'base:profile' request.user.id %}"><h3 class="header__user" class="">{{request.user}}</h3></a>

        <div class = "header__search header__add">
            <div class = "header__create-post header__create-post__rotate">&#x2771;</div>
            <div class = "header__navbar">
                {% if request.user.is_superuser %}
                <a href = "{% url 'base:create-post' %}" class = "btn btn-max btn-shadow">create post</a>
                <a href="{% url 'base:create-story' %}" class = "btn btn-max btn-shadow">create stories</a>
                {% endif %}
                <a href = "{% url 'base:logout' %}" class = "btn btn-max btn-shadow">logout</a>
            </div>
        </div>

        {% else %}
        <a class = 'btn' href= "{% url 'base:login' %}">login</a>
        {% endif %}
    </div>
</header>