{% extends 'main.html' %}
{% load static %}

{% block title %}Создние Нового Сториса{% endblock title %}
{% block content %}
<div class="create">
    <form method = "POST" class = "create-form" action = "." enctype="multipart/form-data">
        <div class="create__header">
            <a href="{{request.META.HTTP_REFERER}}"><img src="{% static 'images/back.svg' %}" alt="" class="icon icon-mar">Вернуться</a>
        </div>
        <h2>Создать Пост</h2>
        <div class="create__former">
            {% csrf_token %}
            {{form.media}}
            {{form.as_p}} 
        </div>
        <input type = "submit" class = "btn btn-min btn-save" value='Cохранить'>
    </form>
</div>
<style>
    .btn {
        max-width: 150px;
    }
</style>
{% endblock content %}