{% extends 'main.html' %}
{% load static %}
{% block title %}Julijai ITHub{% endblock title %}

{% block content %}
<div class = "intro">
    <div class = "intro__item">
        <div class = "intro__phone"></div>
        <div class = "intro__descusion">
            <div class = "intro__desc">
                <div class = "intro__h">Our Mission</div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In metus vulputate eu scelerisque.</div>
            </div>
            <div class = "intro__desc" style="opacity: 0">
                <h3>Our Ideas</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In metus vulputate eu scelerisque.</p>
            </div>
            <div class = "intro__desc" style="opacity: 0">
                <h3>Our Capabilities</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In metus vulputate eu scelerisque.</p>
            </div>
            <a href = "#about" class = "intro__low">
                <span class = "intro__low__one"></span>
                <span class = "intro__low__two"></span>
            </a>
        </div>
    </div>
</div>
 <div class = "about" id = "about">
    <span class = "about__line"></span>
    <div class = "about__inner">
        <div class = "about__block">
            
            <div class=  "about__image">
                <img alt="" src = "https://images.pexels.com/photos/3799832/pexels-photo-3799832.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                <span class = "img__span"></span>
            </div>
            <div class = "about__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Placerat duis ultricies lacus sed.
            </div>
        </div>
        <div class = "about__block about__reverse">
            <div class = "about__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Placerat duis ultricies lacus sed.
            </div>
            <div class=  "about__image">
                <img alt="" src = "https://images.pexels.com/photos/5717430/pexels-photo-5717430.jpeg?auto=compress&cs=tinysrgb&w=600">
                <span class = "img__span img__span__spel"></span>
            </div>
        </div>
        <div class = "about__block">
            <div class=  "about__image">
                <img alt="" src = "https://images.pexels.com/photos/1231230/pexels-photo-1231230.jpeg?auto=compress&cs=tinysrgb&w=600">
                <span class = "img__span"></span>
            </div>
            <div class = "about__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Placerat duis ultricies lacus sed.
            </div>
        </div>
    </div>
<!-- * SLider-->
<div class="pre__slider">

    <div class="pre__description">
        <div class="slider__title">Что у нас есть?</div>
        <div class="slider__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore tempora quisquam consequuntur debitis distinctio eum laboriosam minus harum asperiores natus quam.</div>
    </div>

    <div class="swiper slider slider__main">
        <div class="swiper-wrapper slider__wrapper">

            <div class="swiper-slide slider__item">
                <div class="slider__img" data-swiper-parallax="20%"  style="background-image: url('../../../static/images/galery/pin (10).jpg')"></div>
            </div>

            <div class="swiper-slide slider__item">
                <div class="slider__img" data-swiper-parallax="30%" style="background-image: url('../../../static/images/galery/pin (4).jpg')"></div>
            </div>

            <div class="swiper-slide slider__item">
                <div class="slider__img" data-swiper-parallax="20%" style="background-image: url('../../../static/images/galery/pin (9).jpg')"></div>
            </div>

            <div class="swiper-slide slider__item">
                <div class="slider__img" data-swiper-parallax="30%" style="background-image: url('../../../static/images/galery/pin (2).jpg')"></div>
            </div>

            <div class="swiper-slide slider__item">
                <div class="slider__img" data-swiper-parallax="20%" style="background-image: url('../../../static/images/galery/pin (13).jpg')"></div>
            </div>

            <div class="swiper-slide slider__item">
                <div class="slider__img" data-swiper-parallax="30%" style="background-image: url('../../../static/images/galery/pin (11).jpg')"></div>
            </div>

            <div class="swiper-slide slider__item">
                <div class="slider__img" data-swiper-parallax="20%" style="background-image: url('../../../static/images/galery/pin (13).jpg')"></div>
            </div>

            <div class="swiper-slide slider__item">
                <div class="slider__img" data-swiper-parallax="30%" style="background-image: url('../../../static/images/galery/pin (14).jpg')"></div>
            </div>

            <div class="swiper-slide slider__item">
                <div class="slider__img" data-swiper-parallax="20%"  style="background-image: url('../../../static/images/galery/pin (1).jpg')"></div>
            </div>

        </div>
    </div>


    <div class="swiper slider slider__bg black">
        <div class="swiper-wrapper slider__wrapper">

            <div class="swiper-slide slider__item">
                <div class="slider__img" data-swiper-parallax="20%"  style="background-image: url('../../../static/images/galery/pin (10).jpg')"></div>
            </div>

            <div class="swiper-slide slider__item">
                <div class="slider__img" data-swiper-parallax="30%" style="background-image: url('../../../static/images/galery/pin (4).jpg')"></div>
            </div>

            <div class="swiper-slide slider__item">
                <div class="slider__img" data-swiper-parallax="20%" style="background-image: url('../../../static/images/galery/pin (9).jpg')"></div>
            </div>

            <div class="swiper-slide slider__item">
                <div class="slider__img" data-swiper-parallax="30%" style="background-image: url('../../../static/images/galery/pin (2).jpg')"></div>
            </div>

            <div class="swiper-slide slider__item">
                <div class="slider__img" data-swiper-parallax="20%" style="background-image: url('../../../static/images/galery/pin (13).jpg')"></div>
            </div>

            <div class="swiper-slide slider__item">
                <div class="slider__img" data-swiper-parallax="30%" style="background-image: url('../../../static/images/galery/pin (11).jpg')"></div>
            </div>

            <div class="swiper-slide slider__item">
                <div class="slider__img" data-swiper-parallax="20%" style="background-image: url('../../../static/images/galery/pin (13).jpg')"></div>
            </div>

            <div class="swiper-slide slider__item">
                <div class="slider__img" data-swiper-parallax="30%" style="background-image: url('../../../static/images/galery/pin (14).jpg')"></div>
            </div>

            <div class="swiper-slide slider__item">
                <div class="slider__img" data-swiper-parallax="20%"  style="background-image: url('../../../static/images/galery/pin (1).jpg')"></div>
            </div>

        </div>
    </div>
</div>

<div class = "about__mision">
    <div class = "about__missing__h">OUR Missing</div>
    <div class = "about__missing__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Placerat duis ultricies lacus sed.</div>
</div>
</div>

<!-- ! Stories -->
<storiess>
    <div class="stores__back">
        <span class = "stores__lin"></span>
        <div class = "stores__body">
            <div class = "stores__title">Популярное в этом месяце</div>
            <div class = "stores__tag">обновляется каждый месяц</div>
        </div>
    </div>
    {% include 'base/components/story__component.html' %} 
</storiess>

<!-- ! Posts -->
<div class="posts">
{% include 'base/components/post__component.html' %}
<div class="post__button">

    <div class="post__inner">
        <div class="post__border post__border__dop">
            <h2 class="post__name">Do u wanna see all posts?</h2>
            <a href="{% url 'base:posts' %}" class="btn btn-cont">Перейти</a>
        </div>
    </div>
</div>
{% endblock content %}