{% extends 'main.html ' %}
{% load static %}
{% block title %}Julijai ITHub{% endblock title %}

{% block content %}
<!-- ! Stories -->
<storiess>
    <div class="stores__back">
        <span class = "stores__lin"></span>
        <div class = "stores__body">
            <div class = "stores__title">Популярное в этом месяце</div>
            <div class = "stores__tag">обновляется каждый месяц</div>
        </div>
    </div>
    {% include 'base/components/story__component.html' %} 
</storiess>

<!-- ! Posts -->
<div class="posts">
{% include 'base/components/post__component.html' %}
<div class="post__button">

    <div class="post__inner">
        <div class="post__border post__border__dop">
            <h2 class="post__name">Do u wanna see all posts?</h2>
            <a href="{% url 'base:posts' %}" class="btn btn-cont">Перейти</a>
        </div>
    </div>
</div>
</div>
<style>
    .stores__back {
        z-index: 100;
    }
    storiess {
        display: flex;
        justify-content: start;
        overflow-x: scroll;
        overflow-y: hidden;
        position: relative;
        width:100%;
        min-width:300px;
        margin: 6.6rem 0 0 1rem;
        gap: 1rem;
        padding: 0 2%;
    }
</style>
{% endblock content %}