{% extends 'main.html' %}
{% load static %}

{% block title %}
    {% if page == 'login' %}
        Вход в аккаунт
    {% else %}
        Регестрация
    {% endif %}
{% endblock title %}

{% block content %}
{% if page == 'login' %}
<div class="create">
    <form method = "POST" class = "create-form" action = "." enctype="multipart/form-data">
        <div class="create__header">
            <a href="{{request.META.HTTP_REFERER}}"><img src="{% static 'images/back.svg' %}" alt="" class="icon icon-mar">Вернуться</a>
        </div>
        <div class="create__fields">
            <h2>Войти</h2>
            {% csrf_token %}
            <input type = "text" name="username" placeholder="логин...">
            <input type = "password" name = "password" placeholder="пароль...">
            <input type="submit" class = "btn" value = "войти">
            <p>Хотите создать новый аккаунт?<a class = "link" href = "{% url 'base:register' %}">Register</a></p>
        </div>
    </form>
</div>
{% else %}<!---->
<div class="create">
    <form method = "POST" class = "create-form" action = "." enctype="multipart/form-data">
        <div class="create__header">
            <a href="{{request.META.HTTP_REFERER}}"><img src="{% static 'images/back.svg' %}" alt="" class="icon icon-mar">Вернуться</a>
        </div>
        <div class="create__fields">
            <h2>Регестрация</h2>
            {% csrf_token %}
            {{form}}
            <input type="submit" style="max-width: 280px !important" class = "btn btn-max" value = "зарегестрироваться">
            <p>У вас уже есть аккаунт?<a class = "link" href = "{% url 'base:login' %}">Войти</a></p>
        </div>
    </form>
</div>
{% endif %}

<style>
    .login__form input {
        max-width: 400px;
    }
    .link {
        color: #00fb00;
        font-size: 1.2rem;
        margin: 0 10px;
    }
    .link:hover{
        text-shadow: 3px 3px 1px #00fb00;
        color: aliceblue;
    }
    .create-form {
        max-width: 500px;
    }
    .create__fields {
        padding: 0 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 15px;
    }
</style>
{% endblock content %}