{% extends 'main.html' %}
{% load static %}
{% load social_share %}

{% block title %}{{post.name}}{% endblock title %}

{% block content %}
<div class="article__img" style="background-image: url('{{post.image.url}}');"></div>
<div class="article" >
    <div class="article__item"><!--TODO: Article-->
        <h1>{{post.name}}</h1>
        <span class = "line"></span>
        <div class="article__text">
            {% autoescape off %}{{post.text}}{% endautoescape %}
        </div>
        <div class="article__nav">
            <a class="article__tag" href="{% url 'base:posts'  %}?q={{post.tag.name}}" >#{{post.tag}}</a>
            <p>{{post.updated|timesince}}</p>
        </div>

        <div class="likes"> 
            <div class="likes__block"><!--TODO: likes and dislikes-->
                <form method="POST" action="{% url 'base:like' post.pk %}">
                    {% csrf_token %}
                    <div>
                        <input type="hidden" name="text" value="{{ request.path }}">
                        {% if request.user.is_authenticated %}
                            <button type="submit">
                                <img class = 'like'  src="{% static 'images/heart.png' %}">
                                <span>{{ post.likes.all.count }}</span>
                            </button>
                        {% else %}
                            <a href = '{% url 'base:login' %}'>
                                <img class = 'like'  src="{% static 'images/heart.png' %}">
                                <span>{{ post.likes.all.count }}</span>
                            </a>
                        {% endif %}
                    </div>
                </form>
                 <form method="POST" action="{% url 'base:dislike' post.pk %}">
                    {% csrf_token %}
                    <div>
                        <input type="hidden" name="text" value="{{ request.path }}">
                        {% if request.user.is_authenticated %}
                            <button type="submit">
                                <img class = 'like' src="{% static 'images/deslike.png' %}">
                                <span>{{ post.dislikes.all.count }}</span>
                            </button>
                        {% else %}
                            <a href="{% url 'base:login' %}">
                                <img class = 'like' src="{% static 'images/deslike.png' %}">
                                <span>{{ post.dislikes.all.count }}</span>
                            </a>
                        {% endif %}
                    </div>
                 </form>
            </div>
            <div class="form__links"><!--TODO Share on twitter, reddit, telegram and other social media -->
                {% post_to_twitter "Новый пост: '{{post.name}}' на сайте Julijai IT-Hub. Хотите посмотреть? го - " object_or_url '<img class="like-mini" src="../../../static/images/twitter__white.png" >'  %}
                {% post_to_facebook object_or_url '<img class="like-mini" src="../../../static/images/facebook__white.png">' %}
                {% post_to_reddit  "Новый пост: '{{post.name}}' на сайте Julijai IT-Hub. Хотите посмотреть? " object_or_url '<img class="like-mini" src="../../../static/images/reddit__white.png">' %}
                {% post_to_telegram    "Новый пост: '{{post.name}}' на сайте Julijai IT-Hub. Хотите посмотреть? го - " object_or_url '<img class="like-mini" src="../../../static/images/telegram__white.png">' %}
                {% post_to_whatsapp object_or_url '<img class="like-mini" src="../../../static/images/whatsapp__white.png">'  %}
            </div>
        </div>
        <div class="article__comment ">
            <h2>Последние статьи</h2>
            <hr>
            <div class="article__comment-post"><!--TODO: posts-->
                {% include 'base/components/post__component.html' %}
            </div>
        </div>
 
        <div class="article__comment"><!--TODO: comments -->
            <h2>Комментарии</h2>
            <hr>
            {% if request.user.is_authenticated %}<!--TODO: create comment -->
                <form class = "comment__form" action="" method="POST">
                    {% csrf_token %}
                    <input type="search" placeholder="Какой сегодня красивый день..." class ="comment__input" name ='body'>
                </form>
            {% endif %}
            <div class="comment__lists"> <!--TODO: return all comments -->

                {% for comment in comments %}
                    <div class="comment__block">
                        <div class ="comment__nav">
                            <div class="comment__right__nav">
                                
                                <a href="{% url 'base:profile' comment.user.id %}">
                                    {% if comment.profileuser.img %}
                                        <img class="comment__avatar" src="{{comment.profileuser.img.url}}" alt="{{comment.profileuser.img}}">
                                    {% else %}
                                        <img class="comment__avatar" src="{% static 'images/user.png' %}" alt="avatar">
                                    {% endif %}
                                </a>
                                <a href="{% url 'base:profile' comment.user.id %}"><h3>@{{comment.user}}</h3></a>
                                <p>{{comment.updated|timesince}}</p>
                            </div>
                            <div class="comment__left__nav">
                                {% if request.user == comment.user %}
                                <a href="{% url 'base:comment-delete' comment.id %}" class=""><img src="{% static 'images/close.svg' %}" class="icon" alt=""></a>
                                {% endif %}
                            </div>
                        </div>
                        <div class = "article__body">{{comment.body}}</div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>
{% endblock content %}