{% extends 'main.html' %}
{% load static %}
{% block title %}{{user.username}}{% endblock title %}

{% block content %}
<div class="profile">
  <div class="profile__header">
    {% if profileUser.img %}
      <img src="{{profileUser.img.url}}" class ="profile__img" alt="">
    {% else %}
      <img src="{% static 'images/user.png' %}" class ="profile__img" alt="">
    {% endif %}
    <div class="profile__name">{{user.username}}</div>
    <div class="profile__email">{{user.email}}</div>
    {% if request.user.is_authenticated %}
      {% if request.user == user %}
        <a class="btn btn-margin" href="{% url 'base:change-profile' user.id %}">Изменить Профиль</a>
      {% endif %}      
    {% endif %}
    <div class="profile__description">
      <div class="profile__left">
        <div class="profile__Date">
          <img src="{% static 'images/calendar.png' %}" alt="" class = "icon">
          <div class="profile__birthday">{{profileUser.birthday}}</div>
        </div>
          <div class="profile__about">{{profileUser.about}}</div>
      </div>
      <div class="profile__right">
        {% if profileUser.twitter %}
          <a target = "_blank" title="profileUser" href="{{profileUser.twitter}}"><img src="{% static 'images/twitter__white.png' %}" class = "icon-max" alt=""></a>
        {% elif profileUser.facebook %}
          <a title="facebook" href="{{profileUser.facebook}}" target = "_blank"><img src="{% static 'images/facebook__white.png' %}" class = "icon-max" alt=""></a>
        {% elif profileUser.instagram %}
          <a title="facebook" href="{{profileUser.instagram}}" target = "_blank"><img src="" class = "icon-max" alt=""></a>
        {% elif profileUser.telegram %}
          <a title="telegram" href="{{profileUser.telegram}}" target = "_blank"><img src="{% static 'images/telegram__white.png' %}" class = "icon-max" alt=""></a>
        {% elif profileUser.reddit %}
          <a title="facebook" href="{{profileUser.reddit}}" target = "_blank"><img src="{% static 'images/reddit__white.png' %}" class = "icon-max" alt=""></a>
        {% elif profileUser.github %}
          <a title="github" href="{{profileUser.github}}" target = "_blank"><img src="{% static '' %}" class = "icon-max" alt=""></a>
        {% else %}
          <p>Здесь нет ссылок на соц. сети</p>
        {% endif %}
        {% comment %} <a  title ="icon" href=""><img src="https://cdn-icons.flaticon.com/png/512/2504/premium/2504947.png?token=exp=1657522321~hmac=f0cd0fcea46de2c9292f6d2eb1bf122b" class = "icon-max" alt=""></a> {% endcomment %}
      </div>
    </div>
  </div>
</div>
<div class="after-profile">
  <div class="comments">
    <h2>Комментарии</h2>
    <hr>
    <div class="comment__lists"> <!--TODO: return all comments -->
      {% if comments %}
        {% for comment in comments %}
        <div class="comment__block">
          <div class ="comment__nav">
              <div class="comment__right__nav">
                  
                  <a href="{% url 'base:profile' comment.user.id %}">
                      {% if comment.profileuser.img %}
                          <img class="comment__avatar" src="{{comment.profileuser.img.url}}" alt="{{comment.profileuser.img}}">
                      {% else %}
                          <img class="comment__avatar" src="{% static 'images/user.png' %}" alt="avatar">
                      {% endif %}
                  </a>
                  <a href="{% url 'base:profile' comment.user.id %}"><h3>@{{comment.user}}</h3></a>
                  <p style="-size: 1rem">{{comment.updated|timesince}}</p>
                  
                  <p class = "both"> &hArr; </p>
                  <a href = "{% url 'base:post' comment.post.id %}"><h4 class="post__name">{{comment.post}}</h4></a>

              </div>
              <div class="comment__left__nav">
                  {% if request.user == comment.user %}
                  <a href="{% url 'base:comment-delete' comment.id %}" class=""><img src="{% static 'images/close.svg' %}" class="icon" alt=""></a>
                  {% endif %}
              </div>
          </div>
          <div class = "article__body">{{comment.body}}</div>
      </div>
        {% endfor %}
      {% else %}
      <h3 class = "center">Здесь нет комментариев</h3>
      {% endif %}
  </div>
  </div>
  <div class="what__u__can__read">
    <h2>Последние статьи</h2>
    <hr>
    <div class="posts"><!--TODO: posts-->
      {% include 'base/components/post__component.html' %}
    </div>
  </div>
</div>
<style>
  @media screen and (max-width: 540px) {
    .profile {
      margin: 30% 0 10%;
    }
    .after-profile {
      display: flex;
      flex-direction: column;
      gap: 0;
      padding: 0 5%;
      margin: 2% 0;
    }
    .comments {
      margin: 5% 0;
    }
    .center {
      text-align: center;
      margin: 5% 0;
    }
    .right {
      flex-wrap: wrap;
    }
  }
</style>
{% endblock content %}